body {
    background-image: url("../image/bg.jpg");
    font-family: sans-serif;
}

section.main {
    background-image: url("../image/top_box.gif");
    background-repeat: no-repeat;
    height: auto;
    width: 700px;
    background-color: white;
    margin: 40px auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}

header {
    background-image: url("../image/menu_bg.gif");
    background-repeat: no-repeat;
    position: inherit;
    top: 20px;
    left: 0px;
    right: 0px;
    margin: 20px 1rem;
}

header ul.menus {
    display: inline-flex;
    top: 20px;
    left: 10px;
    right: 10px;
}

header ul.menus .menu-item {
    list-style: none;
    font-weight: 600;
    color: rgb(95, 77, 44);
    padding: 0 20px;
}

header ul.menus .menu-item a {
    color: rgb(95, 77, 44);
    text-decoration: none;
}

.body {
    padding: 3rem;
}

.body .body-title {
    font-weight: 700;
    font-size: 1.1rem;
    color: rgb(28, 28, 150);
}

.body .body-form {
    padding-top: 2.3rem;
    padding-left: 2.3rem;
}

.body .body-form form .form__row {
    width: 20rem;
    padding: 0.2rem 0;
    display: flex;
}

.body .body-form form .form__row .form__label {
    min-width: 90px;
}

.body .body-form form .form__row .form__input {
    flex: 1;
}

.body .body-form form .form__button {
    padding-left: 90px;
    padding-top: 0.2rem;
}

.body .body-form form .form__button a {
    text-decoration: none;
    color: rgb(76, 90, 67);
    font-weight: 500;
}

.body .make-quiz form .form__row {
    display: flex;
    padding: 0.2rem 0;
}

.body .make-quiz form .form__row .form__label {
    min-width: 80px;
}

.body .make-quiz form .form__row .form__input {
    vertical-align: top;
    flex: 1;
}

.body .make-quiz form .form__button {
    padding-left: 80px;
    padding-top: 0.2rem;
}

.body .manage-title {
    padding-bottom: 2rem;
}
.body .manage-title .manage-title__number {
    color: blue;
}
.body .body-table table tr th {
    color: blue;
    text-align: left;
}

.body .takequiz-title {
    padding-bottom: 2rem;
}
.body .takequiz-title .takequiz-title__name {
    color: blue;
    font-weight: 600;
    padding: 1rem;
}

.body .body-test .time-remaining {
    float: right;
    padding-right: 20%;
}
.body .body-test .time-remaining .time-remaining__red {
    color: red;
    font-weight: 600;
}

.body .body-test .question {
    padding-top: 4rem;
}
.body .body-test .answers {
    display: block;
    padding-top: .3rem;
}

.body .body-test .body-test__button{
    float: right;
}

.body .body-test .new-test input{
    width: 5rem;
}

.body .body-test .new-test button{
    float: right;
    margin-right: 50%;
}